.FormGroup {
  line-height: 40px;
  display: flex;
  margin-bottom: 10px;

  label {
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 10px;
  }

  .form-content {
    flex: 1;
    text-align: left;
    position: relative;

    input, textarea, select {
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
    }

    input, select {
      line-height: 30px;
      height: 30px;
    }
  }
}