label.Picture {
  width: 100px;
  height: 100px;
  padding: 0%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 60px;
  color: #ddd;
  box-sizing: border-box;
  img {
    max-width: 100%;
  }
}