.home-page {
  height: 100%;
  .header {
    display: flex;
    padding: 0px 10px;
    .icon {
      & > a {
        color: #fff;
        cursor: pointer;
        padding: 0px 15px;
        display: inline-block;
        font-size: 21px;
        line-height: 64px;
        vertical-align: top;
      }
      & > a:hover {
        color: #1890ff;
      }
    }
    .menu {
      flex: 1;
      li {
        line-Height: 64px;
      }
      li:hover {
        background-color: #1890ff;
      }
    }
  }
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 10px 16px 0;
    line-height: 31px;

    a {
      color: #ddd;
      width: 100%;
      height: 100%;
      display: inline-block;
      text-align: center;
    }
  }
  .content {
    .sider {
      background-color: #fff;
      height: 100%;
      overflow: auto;
      .sider-menu {
        height: 100%;
        border-right: 0;
      }
    }
  }
} 